{%extends 'layout.html' %}


{% block content %}


<div id="out" style="margin-top:20px;">
  <h5 class="{{cls}}" role="alert" align="center"> {{output}}</h5>
</div>

<div class="formcontainer">
    <div class="container-fluid col-lg-4 card" style="padding:20px; margin-top:20px">
		<h3 style="text-align: center;" class="card-heading">Crop Recommender</h3>
        <Form action="/recommend" method="post" id="recommend">
            <!-- <img src="{{url_for('static', filename='1.jpeg')}}" width="20%" height="10%"></center> -->
            
            <div class="form-group">
                <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
                <input
                  type="number"
                  class="form-control"
                  id="Nitrogen"
                  name="nitrogen"
                  placeholder="Enter the value "
             
                  required
                />
              </div>
              <div class="form-group">
                <label for="Phosphorous" style="font-size: 17px"
                  ><b>Phosphorous</b></label
                >
                <input
                  type="number"
                  class="form-control"
                  id="Phosphorous"
                  name="phosphorous"
                  placeholder="Enter the value "
                
                  required
                />
              </div>
          
              <div class="form-group">
                <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
                <input
                  type="number"
                  class="form-control"
                  id="Pottasium"
                  name="pottasium"
                  placeholder="Enter the value (example:50)"
                
                  required
                />
              </div>
              <div class="form-group">
                <label for="ph" style="font-size: 17px"><b>ph level</b></label>
                <input
                  type="number"
                  step="0.01"
                  class="form-control"
                  id="ph"
                  name="ph"
                  placeholder="Enter the value"
                 
                  required
                />
              </div>
              <div class="form-group">
                <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in mm)</b></label>
                <input
                  type="number"
                  step="0.01"
                  class="form-control"
                  id="Rainfall"
                  name="rainfall"
                  placeholder="Enter the value"
                  required
                />
              </div>
              <div class="form-group">
                <label for="State" style="font-size: 17px "><b>State</b></label>
                <select
                  onchange="print_city('state', this.selectedIndex);"
                  id="sts"
                  name="stt"
                  class="form-control"
        
                  
                  required
                ></select>
                <br />
                <label for="City" style="font-size: 17px"><b>City</b></label>
                <select
                  id="state"
                  class="form-control"
                  name="city"
                  
                  required
                ></select>
                <script language="javascript">
                  print_state("sts");
                </script>
              </div>
          
              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-success"
                >
                  Predict
                </button>
              </div>
        </Form>

    </div>

</div>





{% endblock %}

